<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pocketmanager" >

    <uses-permission android:name="android.permission.INTERNET">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION">
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PocketManager"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".general.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".schedule.ui.addScheduleActivity" android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity android:name=".schedule.ui.addEveryTimeActivity"/>
        <activity android:name=".schedule.ui.EventDetailsActivity"/>
        <activity android:name=".schedule.ui.addLocationActivity" android:theme="@style/Theme.AppCompat.Light.Dialog"/>
        <meta-data android:name="com.kakao.sdk.AppKey" android:value="45e72680d3b69156f4fb1f54c3183d69"/>
        <receiver android:name=".schedule.alarm.AlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>